@font-face {
    font-family: 'optimusprincepsregular';
    src: url(https://dafuqbet.com/wp-content/custom-font/optimusprinceps-webfont.woff2) format('woff2'),
         url(https://dafuqbet.com/wp-content/custom-font/optimusprinceps-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
	unicode-range: U+41-5A, U+61-7A, U+C0-FF;

}
@font-face {
    font-family: 'helvethaica';
    src: url(https://dafuqbet.com/wp-content/custom-font/db_helvethaica_x_li_v3.2-webfont.woff2) format('woff2'),
         url(https://dafuqbet.com/wp-content/custom-font/db_helvethaica_x_li_v3.2-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0E00-U+0E7F;
    
}

body {
	font-family: 'optimusprincepsregular' , 'helvethaica';
}